.new-note-container {
    display: flex;
    margin: 50px;
    align-items: center;
    justify-content: center;
}

.new-note-container > input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4e4646;
  opacity: 1; /* Firefox */
}

.new-note-container > input {
  width: 40%;
  font-size: 1.2em;
  color: #000;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 20px 0;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#add-note-button {
  font-size:1.2em;
  cursor: pointer;
  padding: 10px;
  border: none;
  margin-left: 5px;
}

#add-note-button:hover {
  background-color: antiquewhite;
}