.app-name {
  font-size: 1.2rem;
  color: #5f6368;
}

.menu > * {
  flex-grow: 1;
}

.search-bar {
  flex-grow: 2;
}

.input-search {
  padding: 20px 100px;
  border-radius: 10px;
  background-color: #f1f3f4;
  border: none;
  font-size: 1.1rem;
}

.inside-icon {
  position: relative;
}

.inside-icon.search-icon {
  left: 35px;
  top: 5px;
}

.inside-icon.delete-icon {
  right: 35px;
  top: 5px;
}

.item {
      cursor: pointer;
}

.icon:hover {
    background: #f1f3f4;
    border-radius: 50%;
  
}

.icon:hover::after {
    content: "tooltip";
    position: relative;
    top: 25px;
    left: 10px;
    background-color: grey;
    color: white;
    border-radius: 10px;
    padding: 10px
}