
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

li {
  list-style-type: none;
}

.logo-image {
  width: 30px;
}

.menu{
  display: flex;
  border: 2px solid lightgrey;
  justify-content: space-around;
  align-items: center;
}
.menu .item {
  padding: 10px;
}

.notes-list-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.note-container {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}

.new-note-container {
  margin: 0 auto;
}

.new-note-container > input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4e4646;
  opacity: 1; /* Firefox */
}

.new-note-container > input {
  width: 40%;
  font-size: 16px;
  color: #000;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
